@media all and (min-width: 480px) {
  .Login {
    padding-top: 0;
    padding-bottom: 60px;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
    background: none;
  }

  .form-control {
    background: none !important;
    border: 2px solid;
    border-color: #B5B5B5;
    transition: none;
  }

  .form-control:focus {
    border-color: #B5B5B5;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(0 0 0 / 25%);

  }

}
