@import url("https://fonts.googleapis.com/css?family=Nunito:wght@700&display=swap");

* {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

html {
  margin: 0;
  height: 100%;
}

body {
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to bottom right, rgba(255, 208, 109, 0.8), rgba(109, 229, 255, 0.4)) !important;
  background-repeat: no-repeat;
}

.calDiv {
  
}

/* div {
  border: solid green;
  margin: 0;
} */

.App {
  border: 0;
  margin: 0;
  background: none;
}

/* .about {
  width: 100%;
  height: 100%;
} */
